/*Global Styles---------------------------------------*/
img{
  width: 400px;
}

body{
  color: black;
  padding: 15px;


}

header{
  background: #2F3061;
  color: #F7FFF7;
}

a{
  color: #FFE66D;
}

a:hover{
  text-decoration: none;

}
/*Project Styles---------------------------------------*/


.projects{
  background: #F7FFF7;
}

.projects a{
  color:#F7FFF7;
  background: #2F3061;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;

}
.projects a:hover{
  background: rgba(47,48, 97, 80%);
}




/*Work Styles---------------------------------------*/

.work{
  background: #A1C6D7;
}

.work p a{
  color:#F7FFF7;
  background: #2F3061;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;

}


/*Footer Styles---------------------------------------*/

footer{
  background: #343434;
  color: #F7FFF7;
}
